TARGET_ENV=local

# Local configuration
LOCAL_API_URL=http://localhost:5000
JWT_SECRET=development-only-jwt-secret

# Production configuration
PROD_API_URL=https://api.nextgen.kaarma.studio
PROD_JWT_SECRET=d7e069017ddb5613a6231bff1c0540b35559a1806839514a378e527b8aa9c816

# Load settings (Optional, these override defaults)
CONCURRENT_USERS=50
# DURATION=10
# RATE=300
# AMOUNT=2000
