TARGET_ENV=local

# Local configuration
LOCAL_API_URL=http://localhost:5000
JWT_SECRET=development-only-jwt-secret

# Production configuration
PROD_API_URL=prod_url_here
PROD_JWT_SECRET=nextgen-jwt-secret

# Load settings (Optional, these override defaults)
CONCURRENT_USERS=50
# DURATION=10
# RATE=300
# AMOUNT=2000
